* {
    margin : 0px;
    padding : 0px;
}

body {
    height : 97.8vh;
    border : solid 10px black;
    border-radius : 5px;
}

.indexLeft {
    width : 50%;
    float : left;
}

.indexLeftTop {
    height : 20%;
}

.indexLeftTopTop {
    height : 20%;
    padding : 15px 0px 0px 30px;
}

.indexLeftTopBot {
    height : 80%;
    padding : 0px 0px 0px 30px;
}

.indexLeftBot {
    height : 80%;
}

.indexRight {
    width : 50%;
    float : right;
}

.indexRightLeft {
    width : 20%;
    float : left;
}

.indexRightRight {
    width : 80%;
    float : right;
}

.indexRightRightLeft {
    width : 70%;
    float : left;
    height : 97.8vh;
}

.indexRightRightLeftR {
    width : 70%;
    height : 100%;
    float : right;
    background-image : linear-gradient(to bottom, #4e9ba2, #58f6a2);
}

.indexRightRightRight {
    width : 30%;
    float : right;
}

.Write {
    font-family : Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
    font-size : 2em;
    color : #000000;
    font-weight : bold;
}

h1.Write {
    font-size : 7em;
}


/* indexLeftBot 안의 순위권 이름 */
.namelist {
    padding : 10px 0px 10px 30px;
    text-shadow : 0px 10px 15px #d3d3d3;
}

#username1 {
    font-size : 5em;
    color : #f2cf66;
}

#username2 {
    font-size : 4em;
    color : #a6a6a6;
}

#username3 {
    font-size : 3em;
    color : #bf834e;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~*/


.HangManImage {
    position : absolute;
    top : 150px;
    width : 250px;
    height : 450px;
}